.place__title {
  margin: 0;
  grid-area: title;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
}

@media screen and (max-width: 768px) {
  .place__title {
  font-size: 42px;
  line-height: 110%;
  /* Здесь задаю максимальную ширину меньше, чем ширина столбца, чтобы текст перешел на вторую строку
  как в макете */
  max-width: 330px;
  }
}

@media screen and (max-width: 648px) {
  .place__title {
    font-size: 26px;
    line-height: 32px;
  }
}

@media screen and (max-width: 468px) {
  .place__title {
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (max-width: 420px) {
  .place__title{
    line-height: 109%;
    font-size: 32px;
    padding: 0 16px 0;
    white-space: unset;
  }
}
