.footer__link {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
}

.footer__link:hover {
  opacity: .8;
}

@media screen and (max-width: 655px) {
  .footer__link {
    font-size: 14px;
    line-height: 14px;
  }
}


@media screen and (max-width: 550px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}
