.footer__link {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
}

.footer__link:hover {
  opacity: .8;
}

@media screen and (max-width: 648px) {
  .footer__link {
    font-size: 12px;
    line-height: 12px;
  }
}

@media screen and (max-width: 490px) {
  .footer__link {
    font-size: 10px;
    line-height: 10px;
  }
}

@media screen and (max-width: 420px) {
  .footer__link {
    font-size: 8px;
    line-height: 8px;
  }
}

@media screen and (max-width: 345px) {
  .footer__link {
    font-size: 6px;
    line-height: 6px;
  }
}

@media screen and (max-width: 320px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}
