.place__paragraph {
  grid-area: paragraph;
  margin: 0 0 23px;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #fff;
  max-width: 484px;
}

.place__paragraph:last-child {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    max-width: 352px;
  }
}

@media screen and (max-width: 648px) {
  .place__paragraph {
    font-size: 12px;
    line-height: 16px;
    max-width: 80vw;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    max-width: 288px;
    font-size: 16px;
    line-height: 163%;
  }
  .place__paragraph:last-of-type {
    margin: 0;
  }
}
