.cover__background {
  background-image: url(../../../images/sprint-3-images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  min-height: 740px;
  margin: 0 auto;
  z-index: 1;
  text-decoration: none;
  color: #fff;
  position: relative;
}

.cover__background::before {
  content: '';
  background-color: #2A2C2F;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: .3;
  z-index: -1;
}

.cover__background:hover::before {
  opacity: .8;
  transition: opacity .4s ease;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    min-height: 640px;
    max-width: 100vw;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    min-height: 200px;
    min-width: 320px;
    margin: 0;
  }
}
