.place__website {
  grid-area: website;
  grid-template-rows: auto;
  justify-self: start;
  align-self: flex-end;
  gap: 12px;
}

@media screen and (max-width: 420px) {
  .place__website {
    align-self: flex-start;
    padding: 0px 16px 0;
  }
}
